@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab&display=swap');

* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Playfair display', serif;
    font-style: bold;
}

h2 {
    font-style: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
}

header {
    background-color: #cdd685;
    color: #677147;
    padding: 16px;
}

header nav li {
    display: inline;
}

header .container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a {
    margin-left: 32px;
}

section{
    display: flex;
    padding: 24px;
}

section {
    background-color: #ccd6855e;
}

.saia-1-foto img {
width: 300px;;
height: 340px;
}

.saia-1-textos, .saia-2-textos, .sobre-textos {
    margin-left: 24px;
}

.saia-1-textos h2, p {
    margin-bottom: 24px;
}

.saia-2-foto img {
    width: 300px;
    height: 340px;
}

.saia-2-textos h2, p {
    margin-bottom: 24px;
}

.produto1, .produto2{
    display: flex;
}

.produtos {
    gap: 60px;
}

.saia-1-foto img, .saia-2-foto img {
    box-shadow: 0px 1px 5px #677147;
    border-radius: 100px;
}

section .sobre {
    display: flex;
    background-color: #677147;
    align-items: center;
}

.section-sobre {
    background-color: #f1eba6;
}

.logo-loja img {
    width: 300px;
    box-shadow: 0px 1px 5px #677147;
    border-radius: 100px;
}

.sobre-textos{
    margin-top: 130px;
}

.sobre-textos h2, p {
    margin-bottom: 24px;
    
}

.sobre-textos hr {
    border-color: #677147;
    width: 40%;
}
.social-links img {
    height: 24px;
}

.social-links li {
    display: flex;
    margin-top: 18px;
}

.social-links li a {
    text-decoration: none;
}
#contact .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input, textarea, button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #677147;
    color: #ecf0f1;
    border: none;
    cursor: pointer;;
    
}

form button:hover {
    background-color: #677147a0;
}

input:focus, textarea:focus {
    outline-color: #677147;
}

form input, textarea, button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

.nos-acompanhe{
    margin-left: 350px;

}

.venha-ate-nos{
    margin-left: 350px;
}